@import url("https://fonts.googleapis.com/css2?family=Alata&family=Alegreya+Sans+SC&family=Cabin+Sketch&family=Jost&family=Outfit&family=Palanquin+Dark&family=Rock+3D&family=Six+Caps&family=Yantramanav&display=swap");


#controls {border-color: #e0d9c5}
.navbar-header { height:69px;}
.navbar-brand {text-align:center}

.tbl{
font-family:Jost;
}

.header, .header2{
font-size:17px;
text-transform:uppercase;
font-weight: bold;
color:black;
padding-bottom:10px;
}


.rt-th {
padding: 0px 5px 10px 5px;
}

.rt-td {
padding: 7px 5px;
}

#courses_table > div > div.rt-table > div.rt-tbody > div > div > div:nth-child(2){
margin-right:20px;
}

#courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(1){
padding-left: 5px;
}

#courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(3) > div{
  margin-left:15px;
}

.col1, .col1_dept{
font-size:19px;
font-weight:bold;
color: #4a4a4a;
max-width: 250px;
min-width: 120px;
padding: 7px 8px 7px 5px
}

.col1{
background-color: transparent;
box-sizing: border-box;
-webkit-user-select: none;
touch-action: manipulation;
transition: all .4s;
}

.col1:hover {
background-color: #D5EDF6;
cursor: pointer;
}

.col1_dept{
padding-left:57px
}

.col2{
padding: 0px 0px;
margin: 0px 0px;
}


.bar_c{
width:40%
}

.banner{
width:900;
padding-left:1.5%
}

#controls{
margin-right:7%
}

.btn-secondary{
background-color:#e4e4ed;
color: black;
opacity:0.8
}

.girafe_container_std text {
font-family:Jost;
font-weight:600;
}

.rt-search{
width:25%;
font-family:Jost;
padding: 7px 8px;
margin: 0 4px -40px 0 !important;
z-index: 3 !important;
}

div.filter-option-inner-inner{
text-align:center;
}

.dropdown-menu.show{
font-family:Jost;

font-weight:bold
}

.dropdown-menu>li>a {
padding: 0.3rem 1.5rem;
}

.dropdown-menu>li.active>a {
background-color:#567287;

}

a:link, a:active, a{
color: #1078c8;

}

.rt-th-content{
padding-left:8px
}

.rt-expander {
top:50%
}

.m-header{
text-align: center;
padding:10px;
}

.bootstrap-select>.dropdown-toggle {
border-radius: 5px;
line-height:1.4;
}

.btn:not(:disabled):not(.disabled) {
border-radius: 5px;
}

#controls > div:nth-child(3) > div > div > button,
#controls > div:nth-child(3) > div:nth-child(2) > div > div > button{
  padding: 0.65em 1.5em;
}

:not(.input-group)>.bootstrap-select.form-control:not([class*=col-]) {
border-radius: 5px;
}

a:hover{
text-decoration:underline;
}

#courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col1.css-dnfbra > div > div > div > a{
color: #0672c4
}


.modal-content {
border-radius: 5px;
text-align: center !important;
width:90%;
margin: auto;
}

.modal{
text-align: center !important;
}

.modal.show .modal-dialog, .modal.in .modal-dialog {
position: relative;
top: 45%;
transform: translateY(-50%);

}

.modal-footer {
padding: 0.25rem;
-webkit-justify-content: center;
}

.modal-body {
padding: 1rem;
}

.modal-dialog {
max-width: 550px;
}

.form-control {
border-radius: 5px;
}

#shiny-modal, #shiny-modal.modal.fade.show{
padding:0px !important;
}

#modal1, #modal2 {
text-align:justify; 
font-family:Jost; 
font-weight:600;
color: #30302f;
width: 90%;
margin: 17px auto 0px auto;
}

.modal-header{
text-align:center; 
font-size:20px; 
text-transform:uppercase; 
font-family:Cabin Sketch; 
color:black; 
font-weight:600;
-webkit-justify-content: center;
border-bottom: 0px;
padding: 0px 0;
margin-bottom:-25px;
}

.rt-expander, .rt-expander-button{
display: none !important;
}

.col1{
background-color: transparent;
box-sizing: border-box;
-webkit-user-select: none;
touch-action: manipulation;
transition: all .4s;
}

.col1:hover {
background-color: #D5EDF6;
cursor: pointer;
}

.col3,
#courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col3.reactable-dnfbra,
#courses_table > div > div.rt-table > div.rt-tbody > div:nth-child(1) > div > div.rt-td.rt-align-left.col3.reactable-dnfbra,
#courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(3){
    flex: 200 0 auto !important;
    min-width: 200px !important;
    width: 200px;
}
    
.nav{
-webkit-flex-wrap: nowrap !important;
}

body > nav > div{
  -webkit-flex-wrap: nowrap;
}

#tab-2396-1 > div > div:nth-child(1),{
  width: 90% !important;
}

#selectInputs > div:nth-child(2) > div > div > button{
  width: 100% !important;
}

.btn-info, .btn-danger  {
border-color: transparent;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.18) 0px 1px 2px;
transition: 0.5s;
color: black;
    
}

.btn-info{
  background-color: #f4f8ff;
}

.btn-info:hover, .btn-info:active, .btn-info:focus, .show>.btn-info.dropdown-toggle{
  background-color: #adbdd3;
  border-color: transparent !important;
  border: 0px;
}


.btn-danger {
  background-color: #e4eeff;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus, .show>.btn-danger.dropdown-toggle{
  background-color: #b6c2d4;
  border-color: transparent !important;
}

#selectInputs > div:nth-child(3) > button{
    background-color: #eef3f8;

}

#selectInputs > div:nth-child(3) > button:hover, 
#selectInputs > div:nth-child(3) > button:active,
#selectInputs > div:nth-child(3) > button:focus{
  background-color: #a6acb1;
  border-color: transparent !important;
  outline: none;
  
}

.box{
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar{
  padding: 1.2rem 1rem 1rem 1rem;
}

.navbar:not(.fixed-bottom):not(.navbar-fixed-bottom):not(.navbar-fixed-bottom) {
    margin-bottom: 10px;
}

#courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(1){
  max-width: 250px;
  padding: 0px 8px 0px 7px;
}

#courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(2){
    width: 80px !important;
    max-width: 80px !important;
}

.navbar .container-fluid{
  display: flex;
  justify-content: center;
}

.navbar-header {
  width: 23%;
  margin: 0 3% 0 19% !important;
}


body > nav > div > ul > li{
  width: 80%;
}

body > nav > div > ul > li > a{
  width: 200px !important;
}

body > nav > div > ul > li{
 margin: 0 5% !important;
}

body > nav > div > ul > li{
  text-align: center;
}

body > nav > div{
  width: 60% !important;
}
    

.container-fluid{
  width: inherit;
}

#courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-tbody > div > div > div:nth-child(3),
#courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-thead > div > div:nth-child(3){
  display: none !important;
  width: 0px;
}
    
#logo-mobile{
  display: none !important;
}

  @media only screen and (max-width: 600px) {
  .r1, .r2 {
  height: 130px;
  transition: all 0.4s;
  }
  
  .b1 {
  width:90%;
  display:block;
  }
  
  #tables{
  width: 96%;
  display:block;
  }
  
  #mammoth{
  height:30px;
  }
  
  .modal-content {
  width: 100%; 
  }
  
  #modal1 {
  margin: 30px 14px;
  }
  
  #modal2 {
  margin: 25px 13px 0px 13px;
  }
  
  
  .banner {
  width: 100%;
  padding: 10px 0 0 0;
  }
  
  #banner_text,  #banner_logo{
    display:none !important;
    
  }
  
  .box {
    box-shadow: none;
    padding: 10px 0 !important;
  }
  
  #banner_logo{
    margin: 0px !important;
  }
  
  #logo-mobile{
  display: inherit !important;
  margin: 0px auto 16px auto !important;
  }
  
  #selectInputs{
    display: block !important;
  }
  
  .bootstrap-select>.dropdown-toggle {
    line-height: 1 !important;
  }
  
 .form-group {
    margin-bottom: 0.5rem !important;
  }
  
   #control-bar, #selectInputs > div, 
   #selectInputs > div:nth-child(2) > div{
    width: 100% !important;
  }
  
  #control-bar {
    margin: -9px 0 14px 0 !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(1) > div > div{
    margin: 0px 0px 15px 20px !important;
  }
  
  #col3,
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col3.reactable-dnfbra,
  #courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(3) > div{
    display: none !important;
    width: 0px !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col2.reactable-dnfbra{
    margin-left: 3%;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col1.reactable-dnfbra > div{
  min-width: 250px !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col1.reactable-dnfbra{
  min-width: 200px !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-tbody > div > div > div:nth-child(3),
#courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-thead > div > div:nth-child(3){
  display: inherit !important;
  width: inherit !important;
}

  #courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-tbody > div > div > div:nth-child(2),
  #courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-tbody > div > div > div:nth-child(1),
#courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-thead > div > div:nth-child(2),
#courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div > div.rt-thead > div > div:nth-child(1){
  display: none !important;
  width: none !important;
}

#courses_table > div > div.rt-table > div.rt-tbody > div > div.rt-tr-details > div > div > div{
  width: 74% !important;
}
  
  
  body > nav, body > nav > div > ul, .rt-search, #offered_button, #controls > div:nth-child(4) > div:nth-child(1), #offered_button > div > div:nth-child(1){
  display:none !important;
  }
  
  #table_div {
  margin-left: 0 !important;
  margin-right: 0 !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(1){
  width:300px !important;
  }
  
  .rt-td {
  padding: 3px 0px !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(1) > div{
  padding: 5px 0 0 0 !important;
  }
  
  #controls > div:nth-child(2),
  #controls > div:nth-child(3) > div.form-group.shiny-input-container,
  #controls > div:nth-child(3) > div:nth-child(2) > div,
  #controls > div:nth-child(3) > div.form-group.shiny-input-container > div,
  #controls > div:nth-child(3) > div:nth-child(2) > div > div{
  width: 100% !important;
  }  
  
  #controls > div:nth-child(3) > div:nth-child(2) > div > div > button,
  #controls > div:nth-child(3) > div.form-group.shiny-input-container > div > button{
  padding: 9px !important;
  }
  
  #controls > div:nth-child(1) {
  margin-bottom: 5px !important;
  font-size: 12px !important;
  }
  
  #controls > div:nth-child(3) > div:nth-child(1),
  #controls > div:nth-child(3) > div:nth-child(2){
  margin: 0 !important;
  }
  
  #controls > div:nth-child(2){
  padding: 0 !important;
  }
  
  .col3,
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col3.reactable-dnfbra{
     minWidth: 500px !important;
     width: 500px !important;
  }  
  
  .col1{
     minWidth: 150px !important;
  }  
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div:nth-child(2) {
    margin-left: 70px;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div:nth-child(3){
    margin-left: 100px;
  }
  
  #courses_table > div > div.rt-table > div.rt-thead > div > div:nth-child(3) > div {
    margin-left: 85px !important;
  }
  
  #controls > div:nth-child(3) > div:nth-child(3){
    margin-top: -16px !important;
  }
  
  .rt-expander, .rt-expander-button{
  display: flex !important;
  margin: 0 20px 0 0 !important;
  padding: 0px;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col1.reactable-dnfbra.rt-td-expandable > div > div > div:nth-child(1){
    margin: -30px 0 0 20px !important;
  }
  
  #courses_table > div > div.rt-table > div.rt-tbody > div > div > div.rt-td.rt-align-left.col1.reactable-dnfbra.rt-td-expandable > div > div > div:nth-child(2){
    margin: 0 0 0 20px !important;
  }
  
  
  
  